@model Kiinteistosovellus.Models.Persons

@using (Html.BeginForm("CreatePerson", "Contractors", FormMethod.Post, new { id = "createPersonForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @id = "realErrorFirstName" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @id = "realErrorLastName" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractorID, "ContractorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContractorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContractorID, "", new { @class = "text-danger", @id = "realErrorContractorID" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @id = "realErrorDescription" })
            </div>
        </div>

        @*Temporary solution for LoginID until Login system is done*@
        @Html.TextBoxFor(model => model.LoginID, "LoginID", new { @class = "form-control", @Value = ViewBag.LoginID, @Hidden = "true" })

    </div>
}

<script>
    $(document).ready(function () {
        var realErrorFirstName = document.getElementById("realErrorFirstName"); 
        var fakeErrorFirstName = document.getElementById("fakeErrorFirstName");

        if (realErrorFirstName.innerText != "") {
            fakeErrorFirstName.innerText = realErrorFirstName.innerText; 
        } else {
            fakeErrorFirstName.innerText = ""; 
            document.getElementById("fakeFormFirstName").value = "";
            document.getElementById("FirstName").value = "";
        }

        var realErrorLastName = document.getElementById("realErrorLastName"); 
        var fakeErrorLastName = document.getElementById("fakeErrorLastName");

        if (realErrorLastName.innerText != "") {
            fakeErrorLastName.innerText = realErrorLastName.innerText; 
        } else {
            fakeErrorLastName.innerText = ""; 
            document.getElementById("fakeFormLastName").value = "";
            document.getElementById("LastName").value = "";
        }

        var realErrorContractorID = document.getElementById("realErrorContractorID");
        var fakeErrorContractorID = document.getElementById("fakeErrorContractorID");

        if (realErrorContractorID.innerText != "") {
            fakeErrorContractorID.innerText = realErrorContractorID.innerText; 
        } else {
            fakeErrorContractorID.innerText = ""; 
            document.getElementById("urakoitsijoidenId").value = "";
            document.getElementById("ContractorID").value = "";
        }

        var realErrorDescription = document.getElementById("realErrorDescription");
        var fakeErrorDescription = document.getElementById("fakeErrorDescription");

        if (realErrorDescription.innerText != "") {
            fakeErrorDescription.innerText = realErrorDescription.innerText; 
        } else {
            fakeErrorDescription.innerText = "";
            document.getElementById("fakeFormDescription").value = "";
            document.getElementById("Description").value = "";
        }
    });
</script>
