@model Kiinteistosovellus.Models.Contractors

<div class="modal fade" id="ModalContractorDelete">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Poistaa urakoitsija</h3>
            </div>

            <div class="modal-body">
                <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                <div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>Urakoitsijan Nimi</dt>
                                <dd>@Html.DisplayFor(model => model.Name)</dd>

                                <dt>Kuvaus</dt>
                                <dd style="word-break:break-word">@Html.DisplayFor(model => model.Description)</dd>

                                <dt>Osoite</dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StreetAdress)<br />
                                    @Html.DisplayFor(model => model.PostCode) @Html.DisplayFor(model => model.City) <br />
                                    @Html.DisplayFor(model => model.Country)
                                </dd>
                            </dl>
                        </div>

                        <div class="col-sm-6">
                            <p class="text-danger">Huom! Tämä toiminto poistaa myös urakoitsijan henkilöt ja heidän yhteystietonsa!</p>
                            <b>Henkilöt:</b>
                            <ul>
                                @*calling persons list from Controller's ViewBag*@
                            @foreach (Kiinteistosovellus.Models.Persons person in ViewBag.Persons)
                            {
                                if (person.ContractorID == ViewBag.ContractorID)
                                {
                                    <li>@person.FirstName @person.LastName, @person.Description</li>
                                }
                            }
                        </ul>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <button type="submit" value="Delete" class="btn btn-primary">Poistaa</button>
                    <a href="@Url.Action("Index", "Contractors")">Peruuta</a>
                </div>
            }
        </div>
        </div>
    </div>
</div>


