@model Kiinteistosovellus.Models.Contractors

@if (Session["UserName"] != null)
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalContractorDelete">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Poista urakoitsija</h3>
                </div>

                <div class="modal-body">
                    <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                    <div>
                        <hr />
                        <div class="row">

                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Urakoitsijan Nimi</dt>
                                    <dd>@Html.DisplayFor(model => model.Name)</dd>

                                    <dt>Kuvaus</dt>
                                    @{
                                        if (Model.Description == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd style="word-break:break-word">@Html.DisplayFor(model => model.Description)</dd>
                                        }
                                    }

                                    <dt>Osoite</dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.StreetAdress)<br />
                                        @Html.DisplayFor(model => model.PostCode) @Html.DisplayFor(model => model.City) <br />
                                        @Html.DisplayFor(model => model.Country)
                                    </dd>
                                </dl>
                            </div>

                            <div class="col-sm-6">
                                <p class="text-danger">Huom! Tämä toiminto poistaa myös urakoitsijan henkilöt ja heidän yhteystietonsa! <br />Jos olet käyttänyt tätä urakoitsijaa kuluissasi, myös hänen nimensä poistetaan sieltä!</p>
                                <b>Poistettavat henkilöt:</b>
                                <ul>
                                    @*calling persons list from Controller's ViewBag*@
                                    @foreach (Kiinteistosovellus.Models.Persons person in ViewBag.Persons)
                                    {
                                        if (person.ContractorID == ViewBag.ContractorID)
                                        {
                                            <li>@person.FirstName @person.LastName, @person.Description</li>
                                        }
                                    }
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <button type="submit" value="Poista" class="btn btn-primary">Poista</button>
                            <a href="#" data-bs-dismiss="modal" onclick='destroyDiv("ModalContractorDelete")'>Takaisin</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalContractorDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}



