@model Kiinteistosovellus.Models.Persons

@{
    var message = ViewBag.SuccessMsg;
}

@using (Html.BeginForm("CreatePerson", "Contractors", FormMethod.Post, new { id = "createPersonForm" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <b id="yhteystiedot">Uusi henkilö<br /></b>
    @Html.EditorFor(model => model.ContractorID, new { htmlAttributes = new { @class = "form-control", @id = "ContractorID2", @style = "display:none" } })

    <div class="form-group">
        Etunimi*  @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        Sukunimi*  @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


        <div class="form-group">
            Kuvaus
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

    <div style="text-align: right; padding-right: 90px; padding-top:10px">
        <a class="btn btn-outline-primary" role="button" id="lisaaUusiHenkilo">Lisää henkilö</a> | <a class="card-link closeAddPerson" role="button">Sulje</a>
    </div>
}

<script type="text/javascript">

    //Submit Person
    $("#lisaaUusiHenkilo").click(function () {
        partialViewSubmit("Contractors", "CreatePerson", "divForPartialPseudo", "createPersonForm", "PersonID");
    });

    //message designates if model is valid
    var message = '@message';
    //if model is valid, close PartialView, go to successful page and reset Contacts Contractors dropdown
    if (message) {
        var personUrl = '@Url.Action("FetchPersons")';
        var persons = $('#lePerson');
        var contractor = $('#ContractorID');
        persons.empty();
        persons.append($('<option></option>').val('').text(''));
        $.getJSON(personUrl, { ID: contractor.val() }, function (data) {
            if (!data) {
                persons.empty();
            }

            $.each(data, function (index, item) {
                persons.append($('<option></option>').val(item.Value).text(item.Text));
            });
        });
        document.getElementById("divForPartialPseudo").innerHTML = "";
        document.getElementById("successfullyAddedPerson").style.display = "inline-block";
    }

    //Make modal smaller and erase this PartialView from modal
    $(".closeAddPerson").click(function () {
        document.getElementById("yhteystiedot").style.display = "none";
        document.getElementById("lisaaUusiHiddenField").style.display = "block";
        document.getElementById("successfullyAddedPerson").style.display = "none";
        $("#modalWindow").removeClass("modal-lg");
        $("#rowDiv").removeClass("row");
        $("#colDiv1").removeClass("col-sm-6");
        $("#colDiv2").removeClass("col-sm-6");
        document.getElementById("divForPartialPseudo").innerHTML = "";
    });

    $(document).ready(function () {
        $("#ContractorID2").val("@ViewBag.Contractor");
    });
</script>
