@model Kiinteistosovellus.Models.Persons

@if (Session["UserName"] != null)
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalPersonDelete">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Poista henkilö</h3>
                </div>

                <div class="modal-body">
                    <h5>Haluatko varmasti poistaa alla olevat tiedot?</h5>
                    <div>
                        <hr />
                        <div class="row">

                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Etunimi ja sukunimi</dt>
                                    <dd>@Html.DisplayFor(model => model.FullName)</dd>

                                    <dt>Kuvaus</dt>
                                    @{
                                        if (Model.Description == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.DisplayFor(model => model.Description)</dd>
                                        }
                                    }
                                    

                                    <dt>Urakoitsija</dt>
                                    <dd>@Html.DisplayFor(model => model.Contractors.Name)</dd>
                                </dl>
                            </div>

                            <div class="col-sm-6">
                                <p class="text-danger">Huom! Tämä toiminto poistaa myös henkilön yhteystiedot!</p>
                                <b>Yhteystiedot:</b>
                                <ul>
                                    @*calling persons list from Controller's ViewBag*@
                                    @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                                    {
                                        if (contact.PersonID == ViewBag.PersonID)
                                        {
                                            if (contact.PhoneNumber != null)
                                            {
                                                <li>Puhelin: @contact.PhoneNumber,</li>
                                            }
                                            if (contact.Email != null)
                                            {
                                                <li> Sähköposti: @contact.Email</li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <button type="submit" value="Poista" class="btn btn-primary">Poista</button>
                            <a href="#" data-bs-dismiss="modal" onclick='destroyDiv("ModalPersonDelete")'>Takaisin</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalPersonDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}