@model IEnumerable<Kiinteistosovellus.ViewModels.AllContractorsData>

@{
    ViewBag.Title = "Index";
}

@{
    List<Kiinteistosovellus.ViewModels.AllContractorsData> groupedList = Model
            .GroupBy(l => l.ContractorID)
            .Select(i =>
                new Kiinteistosovellus.ViewModels.AllContractorsData()
                {
                    ContractorID = i.Key,
                    Name = i.First().Name,
                    ContractorsDescription = i.First().ContractorsDescription,
                    StreetAdress = i.First().StreetAdress,
                    PostCode = i.First().PostCode,
                    City = i.First().City,
                    Country = i.First().Country
                }
            ).ToList();
}
<style>

    .panel-title::after {
        content: "\f107";
        color: #333;
        top: 7px;
        left: 0px;
        position: absolute;
        font-family: "FontAwesome"
    }

    .panel-title[aria-expanded="true"]::after {
        content: "\f106";
    }

    .ikonka {
        filter: invert(36%) sepia(94%) saturate(3449%) hue-rotate(207deg) brightness(96%) contrast(106%)
    }

    .ikonka:hover {
        filter: invert(23%) sepia(98%) saturate(1996%) hue-rotate(206deg) brightness(90%) contrast(95%)
    }

</style>

<h2>Urakoitsijat</h2>

<p>
    &emsp;<a class="card-link ikonka" title="Uusi Urakoitsija" id="creNewContractor" role="button"><img src="/Icons/contractors-add.svg" height="30"></a> &emsp; <a class="card-link" title="Uusi yhteystiedot" id="creNewContact" role="button"><i class="fa-solid fa-comment-medical fa-2x"></i></a>
</p>

@*---Modal Containers---*@
@*Contractors*@
<iframe id="contractorCreate" style="display:none;"></iframe>
<iframe id="contractorEdit" style="display:none;"></iframe>
<iframe id="contractorDelete" style="display:none;"></iframe>

@*Persons*@
<iframe id="personCreate" style="display:none;"></iframe>
<iframe id="personEdit" style="display:none;"></iframe>
<iframe id="personDelete" style="display:none;"></iframe>

@*Contacts*@
<iframe id="contactCreate" style="display:none;"></iframe>
<iframe id="contactEdit" style="display:none;"></iframe>
<iframe id="contactDelete" style="display:none;"></iframe>

<div class="card" id="ContractorsList">
    <div class="card-header bg-primary" style="color:white">
        <div class="row">
            <div class="col-1" style="padding-left:27px">ID</div>
            <div class="col-2" style="padding-left:2px">Urakoitsija</div>
            <div class="col-2" style="padding-left:2px">Osoite</div>
            <div class="col-2" style="padding-left:4px">Postinumero</div>
            <div class="col-2" style="padding-left:0px">Postitoimipaikka</div>
            <div class="col-2" style="padding-left:4px">Maa</div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="card-body">
        @foreach (var item in groupedList)
        {
            if (item.ContractorID != 1004)
            {
                <div class="accordion-item panel" style="border-bottom: 1px solid rgba(117, 167, 240, 0.2)" id="item_@item.ContractorID">
                    <div class="accordion-header" id="heading_@item.ContractorID">
                        <div class="accordion-button collapsed row openContractor panel-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.ContractorID" data-contractorid="@item.ContractorID" aria-expanded="false" aria-controls="heading_@item.ContractorID">
                            <div class="col-1 px-4">@item.ContractorID</div>
                            <div class="col-2 px-1">@item.Name</div>
                            <div class="col-2 px-2">@item.StreetAdress</div>
                            <div class="col-2 px-3">@item.PostCode</div>
                            <div class="col-2 px-3">@item.City</div>
                            <div class="col-2 px-4">@item.Country</div>
                            <div class="col-1 px-0">
                                <a class="card-link getContractorEdit" style="font-size:25px" title="Muokkaa urakoitsija" role="button"><i class="fa-solid fa-users-gear"></i></a>
                                <a class="card-link getContractorDelete" style="font-size:25px" title="Poistaa urakoitsija" role="button"><i class="fa-solid fa-users-slash"></i></a>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div id="collapse_@item.ContractorID" class="accordion-collapse collapse" style="background-color: rgba(117, 167, 240, 0.1); padding: 10px; border: 2px solid rgba(117, 167, 240, 0.1); border-radius: 8px; padding: 5px; " aria-labelledby="heading_@item.ContractorID" data-bs-parent="#ContractorsList">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div style="word-break:break-word">
                                    <b>Kuvaus:</b><br />
                                    @item.ContractorsDescription
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <b>Yleinen yhteystiedot:</b>
                                <ul>
                                    @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                                    {
                                        if (contact.PersonID == null && contact.ContractorID == item.ContractorID)
                                        {
                                            <li>@contact.PhoneNumber @contact.Email</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <br />

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Etunimi</th>
                                    <th>Sukunimi</th>
                                    <th>Kuvaus</th>
                                    <th>Puhelin numero</th>
                                    <th>Sähköposti</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                                {
                                    foreach (Kiinteistosovellus.Models.Persons person in ViewBag.Persons)
                                    {
                                        if (person.ContractorID == item.ContractorID && person.PersonID == contact.PersonID)
                                        {
                                            <tr>
                                                <td>@person.FirstName</td>
                                                <td>@person.LastName</td>
                                                <td>@person.Description</td>
                                                <td>@contact.PhoneNumber</td>
                                                <td>@contact.Email</td>
                                                <td>
                                                    <a class="card-link getHooman" title="Muokkaa henkilö" role="button" data-hooman="@person.PersonID"><i class="fa-solid fa-user-gear"></i></a>
                                                    <a class="card-link getHoman" title="Poistaa henkilö" role="button" data-homan="@person.PersonID"><i class="fa-solid fa-user-large-slash"></i></a> &emsp;
                                                    <a class="card-link getContactEdit" title="Muokkaa yhteystiedot" role="button" data-editcontactid="@contact.ContactID"><i class="fa-solid fa-comment-dots"></i></a>
                                                    <a class="card-link getContactDelete" title="Poistaa yhteystiedot" role="button" data-delcontactid="@contact.ContactID"><i class="fa-solid fa-comment-slash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            
            }
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        /*------Contractors Modals------*/
        /* Create */
        $(function () {
            $("#creNewContractor").click(function () {
                modalGet("Contractors", "CreateContractor", null, "contractorCreate", "ModalContractorCreate");
            });
        });

        /* Edit */
        $(function () {
            $(".getContractorEdit").click(function () {
                let editId = $(this).data("editid");
                modalGet("Contractors", "EditContractor", editId, "contractorEdit", "ModalContractorEdit");
            });
        });

        /* Delete */
        $(function () {
            $(".getContractorDelete").click(function () {
                let deleteId = $(this).data("deleteid");
                modalGet("Contractors", "DeleteContractor", deleteId, "contractorDelete", "ModalContractorDelete");
            });
        });


        /*------Persons Modals------*/
        /* Create */


        /* Edit */
        $(document).on('click', '.getHooman', function () {
            let leHooman = $(this).data("hooman");
            console.log(leHooman);
            modalGet("Contractors", "EditPerson", leHooman, "personEdit", "ModalPersonEdit");
        });

        /* Delete */
        $(document).on('click', '.getHoman', function () {
            let leHoman = $(this).data("homan");
            console.log(leHoman);
            modalGet("Contractors", "DeletePerson", leHoman, "personDelete", "ModalPersonDelete");
        });


        /*------Contacts Modals------*/

        /* Create */
        $(function () {
            $("#creNewContact").click(function () {
                modalGet("Contractors", "CreateContact", null, "contactCreate", "ModalContactCreate");
            });
        });

        /* Edit */
        $(document).on('click', '.getContactEdit', function () {
            let editContactID = $(this).data("editcontactid");
            modalGet("Contractors", "EditContact", editContactID, "contactEdit", "ModalContactEdit");

        });

        /* Delete */
        $(document).on('click', '.getContactDelete', function () {
            let leDelCont = $(this).data("delcontactid");
            console.log(leDelCont);
            modalGet("Contractors", "DeleteContact", leDelCont, "contactDelete", "ModalContactDelete");
        });

    </script>
}
