@model IEnumerable<Kiinteistosovellus.ViewModels.AllContractorsData>

@{
    ViewBag.Title = "Index";
}

<h2>Urakoitsijat</h2>

<p>
    <a class="card-link" id="creNewContractor" role="button">Uusi Urakoitsija</a> | <a class="card-link" id="creNewContact" role="button">Uusi yhteystiedot</a>
</p>

@*---Modal Containers---*@
@*Contractors*@
<iframe id="contractorCreate" style="display:none;"></iframe>
<iframe id="contractorEdit" style="display:none;"></iframe>
<iframe id="contractorDelete" style="display:none;"></iframe>

@*Persons*@
<iframe id="personCreate" style="display:none;"></iframe>
<iframe id="personEdit" style="display:none;"></iframe>
<iframe id="personDelete" style="display:none;"></iframe>

@*Contacts*@
<iframe id="contactCreate" style="display:none;"></iframe>
<iframe id="contactEdit" style="display:none;"></iframe>
<iframe id="contactDelete" style="display:none;"></iframe>


<div class="container-fluid">
    <div class="card-header">

        <form>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary font-weight-bold" style="padding-left:28px; padding-right:29px"> ID </span>
                </div>
                <input type="text" class="form-control bg-primary font-weight-bold px-2" value="Urakoitsija" disabled>
                <input type="text" class="form-control bg-primary font-weight-bold px-2" value="Osoite" disabled>
                <input type="text" class="form-control bg-primary font-weight-bold px-2" value="Postinumero" disabled>
                <input type="text" class="form-control bg-primary font-weight-bold px-2" value="Postitoimipaikka" disabled>
                <input type="text" class="form-control bg-primary font-weight-bold px-2" value="Maa" disabled>
            </div>
        </form>

    </div>
    <div id="accordion">
        @{
            List<Kiinteistosovellus.ViewModels.AllContractorsData> groupedList = Model
                            .GroupBy(l => l.ContractorID)
                            .Select(i =>
                                new Kiinteistosovellus.ViewModels.AllContractorsData()
                                {
                                    ContractorID = i.Key,
                                    Name = i.First().Name,
                                    StreetAdress = i.First().StreetAdress,
                                    PostCode = i.First().PostCode,
                                    City = i.First().City,
                                    Country = i.First().Country
                                }
                            ).ToList();
        }
        @foreach (var item in groupedList)
        {
            if (item.ContractorID != 1004)
            {
                <div class="card">
                    <form>
                        <div class="input-group">

                            <a class="showContractorContacts" data-contractorid="@item.ContractorID" data-bs-toggle="collapse" href="#collapse_@item.ContractorID" aria-expanded="false" aria-controls="collapse_@item.ContractorID" style="color:white">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background-color: rgba(55, 90, 127, 0.7); color: white ">@item.ContractorID ˅</span>
                                </div>
                            </a>

                            <input type="text" class="form-control px-2" style="background-color: rgba(55, 90, 127, 0.5); color: white " value="@item.Name" disabled>
                            <input type="text" class="form-control px-2" style="background-color: rgba(55, 90, 127, 0.5); color: white " value="@item.StreetAdress" disabled>
                            <input type="text" class="form-control px-2" style="background-color: rgba(55, 90, 127, 0.5); color: white " value="@item.PostCode" disabled>
                            <input type="text" class="form-control px-2" style="background-color: rgba(55, 90, 127, 0.5); color: white " value="@item.City" disabled>
                            <input type="text" class="form-control px-2" style="background-color: rgba(55, 90, 127, 0.5); color: white " value="@item.Country" disabled>

                        </div>
                    </form>

                    <div id="collapse_@item.ContractorID" class="accordion-collapse collapse" data-bs-toggle="collapse" data-bs-parent="#accordion" aria-labelledby="heading_@item.ContractorID">
                        <div class="px-2" style="text-align:right; padding-top:5px">
                            <a class="card-link getContractorEdit" role="button" data-editId="@item.ContractorID">Muokkaa urakoitsija</a>
                            <a class="card-link getContractorDelete" role="button" data-deleteid="@item.ContractorID">Poistaa urakoitsija</a>
                        </div>

                        <div class="px-2">
                            @*<a class="card-link" id="creNewContact" role="button" data-createContactid="@item.ContractorID">Uusi yhteystiedot</a>*@
                            @item.ContractorsDescription
                        </div>

                        <div class="card-body">
                            <div id="contractorDetails_@item.ContractorID">
                                <table class="table">
                                    <thead>
                                        <tr id="tableHeads">
                                            <th>Etunimi</th>
                                            <th>Kuvaus</th>
                                            <th>Puhelin numero</th>
                                            <th>Sähköposti</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                                        {
                                            <tr>
                                                @foreach (Kiinteistosovellus.Models.Persons person in ViewBag.Persons)
                                                {
                                                    if (person.ContractorID == item.ContractorID && person.PersonID == contact.PersonID)
                                                    {

                                                        <td>@Html.DisplayFor(modelItem => person.FirstName)</td>
                                                        <td>@Html.DisplayFor(modelItem => person.LastName)</td>
                                                        <td>@Html.DisplayFor(modelItem => person.Description)</td>

                                                        <td>@Html.DisplayFor(modelItem => contact.PhoneNumber)</td>
                                                        <td>@Html.DisplayFor(modelItem => contact.Email)</td>
                                                        
                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        /*------Contractors Modals------*/
        /* Create */
        $(function () {
            $("#creNewContractor").click(function () {
                console.log("Otwieram Create new Concractor");
                modalGet("Contractors", "CreateContractor", null, "contractorCreate", "ModalContractorCreate");
            });
        });

        /* Edit */
        $(function () {
            $(".getContractorEdit").click(function () {
                let editId = $(this).data("editid");
                modalGet("Contractors", "EditContractor", editId, "contractorEdit", "ModalContractorEdit");
            });
        });

        /* Delete */
        $(function () {
            $(".getContractorDelete").click(function () {
                let deleteId = $(this).data("deleteid");
                modalGet("Contractors", "_ModalDelete", deleteId, "contractorDelete", "ModalContractorDelete");
            });
        });


        /*------Contractors Modals------*/
        /* Create */


        /* Edit */


        /* Delete */



        /*------Contractors Modals------*/
        /* Create */


        /* Edit */


        /* Delete */



    </script>
}