@model IEnumerable<Kiinteistosovellus.ViewModels.AllContractorsData>

@{
    ViewBag.Title = "Urakoitsijat";
}

@{
    List<Kiinteistosovellus.ViewModels.AllContractorsData> groupedList = Model
            .GroupBy(l => l.ContractorID)
            .Select(i =>
                new Kiinteistosovellus.ViewModels.AllContractorsData()
                {
                    ContractorID = i.Key,
                    Name = i.First().Name,
                    ContractorsDescription = i.First().ContractorsDescription,
                    StreetAdress = i.First().StreetAdress,
                    PostCode = i.First().PostCode,
                    City = i.First().City,
                    Country = i.First().Country
                }
            ).ToList();
}
<style>

    .panel-title::after {
        content: "\f107";
        color: #5a5a5a;
        top: 7px;
        left: 0px;
        position: absolute;
        font-family: "FontAwesome"
    }

    .panel-title[aria-expanded="true"]::after {
        content: "\f106";
    }

    .hide {
        display: none;
    }
</style>
<br />
<h2>Urakoitsijat</h2>


<a class="card-link ikonka" title="Uusi Urakoitsija" id="creNewContractor" role="button"><img src="/Icons/contractors-add-square.svg" height="45"></a>  @*<a class="card-link ikonka" title="Uusi yhteystieto" id="creNewContact" role="button"><img src="/Icons/comment-add-square.svg" height="45"></a>*@


@*---Modal Containers---*@
@*Contractors*@
<iframe id="contractorCreate" style="display:none;"></iframe>
<iframe id="contractorEdit" style="display:none;"></iframe>
<iframe id="contractorDelete" style="display:none;"></iframe>

@*Persons*@
<iframe id="personCreate" style="display:none;"></iframe>
<iframe id="personEdit" style="display:none;"></iframe>
<iframe id="personDelete" style="display:none;"></iframe>

@*Contacts*@
<iframe id="contactCreate" style="display:none;"></iframe>
<iframe id="contactEdit" style="display:none;"></iframe>
<iframe id="contactDelete" style="display:none;"></iframe>

<div class="card" id="ContractorsList">
    <div class="card-header bg-primary" style="color:white">
        <div class="row">
            <div class="col-1" style="padding-left:27px">ID</div>
            <div class="col-2" style="padding-left:2px">Urakoitsija</div>
            <div class="col-2" style="padding-left:2px">Osoite</div>
            <div class="col-2" style="padding-left:4px">Postinumero</div>
            <div class="col-2" style="padding-left:0px">Postitoimipaikka</div>
            <div class="col-2" style="padding-left:4px">Maa</div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="card-body" id="card">
        @foreach (var item in groupedList)
        {
            <div class="accordion-item panel" style="border-bottom: 1px solid rgba(112, 173, 71, 0.2)" id="item_@item.ContractorID">
                <div class="accordion-header" id="heading_@item.ContractorID">
                    <div class="accordion-button collapsed row openContractor panel-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.ContractorID" data-contractorid="@item.ContractorID" aria-expanded="false" aria-controls="heading_@item.ContractorID">
                        <div class="col-1 px-4">@item.ContractorID</div>
                        <div class="col-2 px-1">@item.Name</div>
                        <div class="col-2 px-2">@item.StreetAdress</div>
                        <div class="col-2 px-3">@item.PostCode</div>
                        <div class="col-2 px-3">@item.City</div>
                        <div class="col-2 px-4">@item.Country</div>
                        <div class="col-1 px-0">
                            <a class="card-link getContractorEdit ikonka" style="font-size: 25px;" data-editid="@item.ContractorID" title="Muokkaa urakoitsijaa" role="button"><img src="/Icons/contractors-edit-square.svg" style="margin-top:auto; margin-bottom:auto" height="40"></a>
                            <a class="card-link getContractorDelete ikonka" style="font-size:25px" data-deleteid="@item.ContractorID" title="Poista urakoitsija" role="button"><img src="/Icons/contractors-delete-square.svg" style="margin-top:auto; margin-bottom:auto" height="40"></a>
                        </div>
                    </div>
                </div>
            </div><br />
            <div id="collapse_@item.ContractorID" class="accordion-collapse collapse cardsCollapse" style="background-color: rgba(240, 247, 236); padding: 10px; border: 2px solid rgba(112, 173, 71, 0.5); border-radius: 8px; padding: 5px; " aria-labelledby="heading_@item.ContractorID" data-bs-parent="#ContractorsList">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="word-break:break-word">
                                <b>Kuvaus:</b><br />
                                @item.ContractorsDescription
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <b>Yleiset yhteystiedot:</b>
                            <table width="80%">
                                @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                                {
                                    if (contact.PersonID == null && contact.ContractorID == item.ContractorID)
                                    {
                                        <tr>
                                            @if (@contact.PhoneNumber != null && @contact.Email != null)
                                            {
                                                <td>• @contact.PhoneNumber <br /> • @contact.Email</td>
                                            }
                                            else if (@contact.PhoneNumber == null)
                                            {
                                                <td>• @contact.Email</td>
                                            }
                                            else
                                            {
                                                <td>• @contact.PhoneNumber</td>
                                            }

                                            <td><a class="card-link getContactEdit ikonka" title="Muokkaa yhteystietoja" role="button" data-editcontactid="@contact.ContactID"><img src="/Icons/comment-edit-square.svg" height="30"></a><a class="card-link getContactDelete ikonka" title="Poista yhteystiedot" role="button" data-delcontactid="@contact.ContactID"><img src="/Icons/comment-delete-square.svg" height="30"></a></td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <br />
                    <a class="card-link ikonka creNewContact" title="Uusi yhteystieto" data-contrid="@item.ContractorID" role="button"><img src="/Icons/comment-add-square.svg" height="45"></a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Etunimi</th>
                                <th>Sukunimi</th>
                                <th>Kuvaus</th>
                                <th>Puhelinnumero</th>
                                <th>Sähköposti</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Kiinteistosovellus.Models.Contacts contact in ViewBag.Contacts)
                            {
                                foreach (Kiinteistosovellus.Models.Persons person in ViewBag.Persons)
                                {
                                    if (person.ContractorID == item.ContractorID && person.PersonID == contact.PersonID)
                                    {
                                        <tr>
                                            <td>@person.FirstName</td>
                                            <td>@person.LastName</td>
                                            <td>@person.Description</td>
                                            <td>@contact.PhoneNumber</td>
                                            <td>@contact.Email</td>
                                            <td>
                                                <a class="card-link getHooman ikonka" title="Muokkaa henkilöää" role="button" data-hooman="@person.PersonID"><img src="/Icons/person-edit-square.svg" height="30"></a>  <a class="card-link getHoman ikonka" title="Poista henkilö" role="button" data-homan="@person.PersonID"><img src="/Icons/person-delete-square.svg" height="30"></a> &emsp;
                                                <a class="card-link getContactEdit ikonka" title="Muokkaa yhteystietoja" role="button" data-editcontactid="@contact.ContactID"><img src="/Icons/comment-edit-square.svg" height="30"></a>  <a class="card-link getContactDelete ikonka" title="Poista yhteystiedot" role="button" data-delcontactid="@contact.ContactID"><img src="/Icons/comment-delete-square.svg" height="30"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="noContactDiv">
                        <b>Henkilöt, joilla ei ole yhteystietoja:</b>
                        <table class="noContactTable">
                            @foreach (Kiinteistosovellus.Models.Persons person in ViewBag.NoContactPersons)
                            {
                                if (person.ContractorID == item.ContractorID)
                                {
                                    <tr>
                                        <td>• @person.FirstName @person.LastName, @person.Description </td>
                                        <td>
                                            &emsp;<a class="card-link getHooman ikonka" title="Muokkaa henkilöää" role="button" data-hooman="@person.PersonID"><img src="/Icons/person-edit-square.svg" height="30"></a>  <a class="card-link getHoman ikonka" title="Poista henkilö" role="button" data-homan="@person.PersonID"><img src="/Icons/person-delete-square.svg" height="30"></a> <a class="card-link ikonka creNewContactPerson" title="Uusi yhteystieto" data-contrid="@item.ContractorID" data-personid="@person.PersonID" role="button"><img src="/Icons/comment-add-square.svg" height="30"></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(function () {
            setTimeout(() => {
                const smalls = document.querySelectorAll("#card .cardsCollapse .noContactDiv .noContactTable");
                for (const small of smalls) {
                    if (
                        !small.firstChild ||
                        (small.childNodes.length === 1 && !small.firstChild.nodeValue.trim())
                    ) {
                        small.closest(".noContactDiv").classList.add("hide");
                    }
                }
            }, 800);
        });

        $(function () {
            $('#homeClicked').removeClass('active');
            $('#spendingsClicked').removeClass('active');
            $('#othersClicked').addClass('active');
        });

        /*------Contractors Modals------*/
        /* Create */
        $(function () {
            $("#creNewContractor").click(function () {
                createDiv("contractorCreate");
                modalGet("Contractors", "CreateContractor", null, "contractorCreate", "ModalContractorCreate");
            });
        });

        /* Edit */
        $(function () {
            $(".getContractorEdit").click(function () {
                createDiv("contractorEdit");
                let editId = $(this).data("editid");
                modalGet("Contractors", "EditContractor", editId, "contractorEdit", "ModalContractorEdit");
            });
        });

        /* Delete */
        $(function () {
            $(".getContractorDelete").click(function () {
                createDiv("contractorDelete");
                let deleteId = $(this).data("deleteid");
                modalGet("Contractors", "DeleteContractor", deleteId, "contractorDelete", "ModalContractorDelete");
            });
        });


        /*------Persons Modals------*/
        /* Create */


        /* Edit */
        $(function () {
            $(".getHooman").click(function () {
                createDiv("personEdit");
                let leHooman = $(this).data("hooman");
                modalGet("Contractors", "EditPerson", leHooman, "personEdit", "ModalPersonEdit");
            });
        });

        /* Delete */
        $(function () {
            $(".getHoman").click(function () {
                createDiv("personDelete");
                let leHoman = $(this).data("homan");
                modalGet("Contractors", "DeletePerson", leHoman, "personDelete", "ModalPersonDelete");
            });
        });


        /*------Contacts Modals------*/

        /* Create */
        $(function () {
            $(".creNewContact").click(function () {
                createDiv("contactCreate");
                let creContactContrID = $(this).data("contrid");
                modalGet("Contractors", "CreateContact", creContactContrID, "contactCreate", "ModalContactCreate");
            });
        });

        $(function () {
            $(".creNewContactPerson").click(function () {
                createDiv("contactCreate");
                let creContactContrID = $(this).data("contrid");
                let creContactPersonID = $(this).data("personid");

                var url = "/Contractors/CreateContactPerson/" + creContactContrID + "/" + creContactPersonID;
                var iframeForModal = $("#contactCreate");
                $.ajax({
                    url: url,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'get',
                    type: "get",
                    success: function (result) {
                        iframeForModal.replaceWith(result);
                        $("#ModalContactCreatePerson").modal('show');
                    }
                });
            });
        });

        /* Edit */
        $(function () {
            $(".getContactEdit").click(function () {
                createDiv("contactEdit");
                let editContactID = $(this).data("editcontactid");
                modalGet("Contractors", "EditContact", editContactID, "contactEdit", "ModalContactEdit");
            });
        });

        /* Delete */
        $(function () {
            $(".getContactDelete").click(function () {
                createDiv("contactDelete");
                let leDelCont = $(this).data("delcontactid");
                modalGet("Contractors", "DeleteContact", leDelCont, "contactDelete", "ModalContactDelete");
            });
        });
    </script>
}
