@model Kiinteistosovellus.Models.Plans

<div class="modal fade" id="ModalPlansDelete">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Suunnitellun menon poisto</h3>
            </div>

            <div class="modal-body">
                <h3>Haluatko varmasti poistaa tämän</h3>
                
                    <dl class="dl-horizontal">
                        <dt>
                            Nimi
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Aloituspäivämäärä
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateBegin)
                        </dd>

                        <dt>
                            Päättymispäivämäärä
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateEnd)
                        </dd>

                        <dt>
                            Kuvaus
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Desciption)
                        </dd>

                        <dt>
                            Hinta
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            Kuukausittainen vai muu
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KuukausittainenVaiMuu)
                        </dd>

                    </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <button type="submit" value="Delete" class="btn btn-primary">Poistaa</button>
                        <a href="@Url.Action("Index", "Plans")">Peruuta</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
