@model IEnumerable<Kiinteistosovellus.Models.Plans>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suunnitelmat</h2>

<iframe id="plansCreate" style="display:none"></iframe>
<iframe id="plansEdit" style="display:none"></iframe>
<iframe id="plansDelete" style="display:none"></iframe>

<p>
    <a class="card-link" id="createNewPlanModal" role="button">Luo uusi</a><br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthOrOtherID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logins.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DateBegin, "{0:dd.MM.yyyy}")
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DateEnd, "{0:dd.MM.yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KuukausittainenVaiMuu.MonthOrOtherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logins.UserName)
            </td>
            <td>
                <a class="card-link editPlanModal"  role="button" data-editid="@item.PlandID">Muokkaa</a> |
                <a class="card-link deletePlanModal"  role="button" data-deleteid="@item.PlandID">Poista</a>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(function () {
        $("#createNewPlanModal").click(function () {
            modalGet("Plans", "Create", null, "plansCreate", "ModalPlansCreate");
        });
    });

    $(function () {
        $(".editPlanModal").click(function () {
            let editId = $(this).data("editid");
            modalGet("Plans", "Edit", editId, "plansEdit", "ModalPlansEdit");
        });
    });

    $(function () {
        $(".deletePlanModal").click(function () {
            let deleteId = $(this).data("deleteid");
            modalGet("Plans", "Delete", deleteId, "plansDelete", "ModalPlansDelete");
        });
    });
</script>
