@model IEnumerable<Kiinteistosovellus.Models.Plans>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Muu kulu -tyypit</h2>

<iframe id="plansCreate" style="display:none"></iframe>
<iframe id="plansEdit" style="display:none"></iframe>
<iframe id="plansDelete" style="display:none"></iframe>

<a class="card-link ikonka" id="createNewPlanModal" title="Uusi Suunnitelma" role="button"><img src="/Icons/square-add.svg" height="45"></a>
<br />
<table class="table">
    <tr>
        <th>
            Nimi
        </th>
        <th>
            Aloituspäivämäärä
        </th>
        <th>
            Päättymispäivämäärä
        </th>
        <th>
            Kuvaus
        </th>
        <th>
            Hinta
        </th>
        <th>
            Kuukausittainen vai muu
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DateBegin, "{0:dd.MM.yyyy}")
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DateEnd, "{0:dd.MM.yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KuukausittainenVaiMuu.MonthOrOtherName)
            </td>

            <td>
                <a class="card-link ikonka editPlanModal" title="Muokkaa Suunnittelu" data-editid="@item.PlandID" role="button"><img src="/Icons/square-edit.svg" height="30"></a>
                <a class="card-link ikonka deletePlanModal" title="Poista Suunnittelu" data-deleteid="@item.PlandID" role="button"><img src="/Icons/square-delete.svg" height="30"></a>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(function () {
        $("#createNewPlanModal").click(function () {
            modalGet("Plans", "Create", null, "plansCreate", "ModalPlansCreate");
        });
    });

    $(function () {
        $(".editPlanModal").click(function () {
            let editId = $(this).data("editid");
            modalGet("Plans", "Edit", editId, "plansEdit", "ModalPlansEdit");
        });
    });

    $(function () {
        $(".deletePlanModal").click(function () {
            let deleteId = $(this).data("deleteid");
            modalGet("Plans", "Delete", deleteId, "plansDelete", "ModalPlansDelete");
        });
    });
</script>
