@model IEnumerable<Kiinteistosovellus.Models.OtherSpendingTypes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Muut kulutustyypit</h2>

<iframe id="othSpendTypeCreate" style="display:none"></iframe>
<iframe id="othSpendTypeEdit" style="display:none"></iframe>
<iframe id="othSpendTypeDelete" style="display:none"></iframe>
<iframe id="othSpendTypeChart" style="display:none"></iframe>

<p>
    <a class="card-link" id="createNewOthSpendTypeModal" role="button">Luo uusi</a><br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a class="card-link chartOthSpendTypeModal" role="button" data-chartid="@item.OtherSpendingTypeId">Kaavio</a> |
                <a class="card-link editOthSpendTypeModal" role="button" data-editid="@item.OtherSpendingTypeId">Muokkaa</a> |
                <a class="card-link deleteOthSpendTypeModal" role="button" data-deleteid="@item.OtherSpendingTypeId">Poista</a>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(function () {
        $("#createNewOthSpendTypeModal").click(function () {
            modalGet("OtherSpendingTypes", "Create", null, "othSpendTypeCreate", "ModalOthSpendTypeCreate");
        });
    });

    $(function () {
        $(".editOthSpendTypeModal").click(function () {
            let editId = $(this).data("editid");
            modalGet("OtherSpendingTypes", "Edit", editId, "othSpendTypeEdit", "ModalOthSpendTypeEdit");
        });
    });

    $(function () {
        $(".deleteOthSpendTypeModal").click(function () {
            let deleteId = $(this).data("deleteid");
            modalGet("OtherSpendingTypes", "Delete", deleteId, "othSpendTypeDelete", "ModalOthSpendTypeDelete");
        });
    });

    $(function () {
        $(".chartOthSpendTypeModal").click(function () {
            let chartId = $(this).data("chartid");
            modalGet("OtherSpendingTypes", "ChartContainer", chartId, "othSpendTypeChart", "ModalOtherSpendTypeChart");
        });
    });
</script>
