@model IEnumerable<Kiinteistosovellus.Models.OtherSpendings>

@foreach (var item in Model)
{
    <tr class="card-body filtering">
        <td>@Html.ValueFor(modelItem => item.DateBegin, "{0:dd.MM.yyyy}")</td>
        @{
            if (item.DateEnd != null)
            {
                <td>@Html.ValueFor(modelItem => item.DateEnd, "{0:dd.MM.yyyy}")</td>
            }
            else
            {
                <td>@Html.ValueFor(modelItem => item.DateBegin, "{0:dd.MM.yyyy}")</td>
            }
        }
        <td>@Html.DisplayFor(modelItem => item.OtherSpendingTypes.TypeName)</td>
        <td style="word-break:break-word;  width:25%;">@Html.DisplayFor(modelItem => item.Description)</td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td>@Html.DisplayFor(modelItem => item.Contractors.Name)</td>
        <td>
            @if (item.ImageUrl != null)
            {
                <img class="images" src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100" />
            }
            else
            {@Html.DisplayFor(modelItem => item.ImageUrl)}
        </td>
        <td>
            <a class="card-link ikonka getOtherSpendingId" title="Muokkaa Kulu" data-otherspendingid="@item.OtherSpendingsID" role="button"><img src="/Icons/square-edit.svg" height="30"></a>
            <a class="card-link ikonka delOtherSpendingId" title="Poista Kulu" data-otherspendingid2="@item.OtherSpendingsID" role="button"><img src="/Icons/square-delete.svg" height="30"></a>
        </td>
    </tr>
}
<script type="text/javascript">

    // create references to the modal...
    var modal = document.getElementById('myModals');
    // to all images -- note I'm using a class!
    var images = document.getElementsByClassName('images');
    // the image in the modal
    var modalImg = document.getElementById("img01");
    // and the caption in the modal
    // var captionText = document.getElementById("caption");

    // Go through all of the images with our custom class
    for (var i = 0; i < images.length; i++) {
        var img = images[i];
        // and attach our click listener for this image.
        img.onclick = function (evt) {
            modal.style.display = "block";
            modalImg.src = this.src;
            //captionText.innerHTML = this.alt;
        }
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }
</script>