@model Kiinteistosovellus.Models.OtherSpendings

<div class="modal fade" id="ModalotherSpendingEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Muokkaa kulua</h3>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Edit", "OtherSpendings", FormMethod.Post, new { id = "editForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.OtherSpendingsID)

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="form-group">
                                    Päivämäärä / Alkupäivämäärä @*Alkupvm*@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DateBegin, "{0:s}", new { @type = "datetime-local", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Loppupäivämäärä @*Loppupvm*@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DateEnd, "{0:s}", new { @type = "datetime-local", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Nimi @*Urakoitsija*@
                                    <div class="col-md-10">
                                        @Html.DropDownList("ContractorID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ContractorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Hinta yhteensä
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", DecimalPlaces = 2 } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.TextBoxFor(model => model.LoginID, "LoginID", new { @class = "form-control", @Value = ViewBag.LoginID, @Hidden = "true" })

                            </div>

                            <div class="col-sm-6">

                                <div class="form-group">
                                    Kulutustyyppi
                                    <div class="col-md-10">
                                        @Html.DropDownList("OtherSpendingTypeID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OtherSpendingTypeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Kuvaus
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "6", @cols = "56" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="editForm">Muokkaa</button>
                @Html.ActionLink("Takaisin", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        /*Allowing decimals to be validated*/
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }

    </script>

}