@model Kiinteistosovellus.Models.OtherSpendings

@if (Session["UserName"] != null && Session["Role"].ToString() == "Admin")
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalotherSpendingEdit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Muokkaa kulua</h3>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("_ModalEdit", "OtherSpendings", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.OtherSpendingsID, new { @class = "form-control", @Hidden = "true" })

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        Aloituspvm* @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger realError" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Päättymispvm @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger realError" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Urakoitsija @Html.ValidationMessageFor(model => model.ContractorID, "", new { @class = "text-danger realError" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("ContractorID", null, "", new { @class = "form-control form-select" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Kokonaishinta* @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger realError" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id = "Price" } })
                                        </div>
                                    </div>
                                    <div class="form-group" id="picture">
                                        Kuva @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                        <div class="col-md-10">
                                            <img class="images img-thumbnail" src="@Html.DisplayFor(model => model.ImageUrl)" style="width:90%" />
                                            <a href="#" id="poistanappi" style="margin-left:60%" onclick="document.getElementById('ImageUrl').value=''">Poista kuva</a>
                                        </div>
                                    </div>

                                    <div class="form-group" id="imageinput" style="display:none">
                                        Kuvan Url @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-8" style="padding-right:0px; width:65%">
                                                    @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", aria_describedby = "poistanappi" } })
                                                </div>
                                                <div class="col-3" style="padding-left:0px">  
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Valitse kuva
                                        <div class="col-md-10">
                                            <input type="file" class="form-control" id="kuvaim" name="kuvaim" onchange="nayta();" />
                                        </div>
                                    </div>
                                    <div id="error" style="display: none; color: red;">Tiedoston pitää olla alle 4 MB. Valitse uudelleen.</div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        Kuvaus
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "15", @maxlength = "1000" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger realError" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        Kulutustyyppi* @Html.ValidationMessageFor(model => model.OtherSpendingTypeID, "", new { @class = "text-danger realError" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("OtherSpendingTypeID", null, new { @class = "form-control form-select" })
                                            <div style="text-align:right; padding-right:30px"><a class="card-link" role="button" id="lisaaUusiHiddenField">Lisää uusi kulutustyyppi</a></div>

                                        </div>
                                    </div>

                                    <div class="form-group" id="hiddenFieldAddType" style="display:none">
                                        Kulutustyyppi* <span class="field-validation-error text-danger" id="fakeErrorTypeName"></span>
                                        <div class="col-md-10 input-group">
                                            <input type="text" maxlength="100" size="500" class="form-control tyhjennaKentta" id="fakeFormTypeName" onkeyup="paivitaOikeaKentta()" />
                                        </div>
                                        <div class="text-danger" id="existsFake"></div>
                                        <div style="text-align: right; padding-right: 5px">
                                            <a class="card-link" role="button" id="lisaaUusiType">Lisää</a> | <a class="card-link closeAddType" role="button" id="peruuta">Peruuta</a>
                                        </div>
                                    </div>
                                    <div class="form-group" id="successfullyAddedType" style="display:none;">
                                        <div class="text-success">Tyyppi lisätty onnistuneesti</div>
                                        <div style="padding:0 3px"><a class="card-link" role="button" id="lisaaToinenTyyppi">Lisää toinen tyyppi</a> | <a class="card-link closeAddType" role="button">Poistu</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <input type="button" onclick="submitModal()" value="Tallenna" class="btn btn-primary" />
                        <a href="#" id="back" data-bs-dismiss="modal" onclick='destroyDiv("ModalotherSpendingEdit")'>Takaisin</a>
                    </div>
                </div>
                <div id="divForPartialPseudo" style="display:none"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function nayta() {
            let virhe = document.getElementById("error");
            let file = document.getElementById("kuvaim").files[0];
            if (file.size > 4000000) {
                document.getElementById("kuvaim").value = "";
                virhe.style.display = "block";
            } else {
                document.getElementById('ImageUrl').value = 'https://kuvapankki.blob.core.windows.net/pics/' + document.getElementById('kuvaim').value.substring(12);
                virhe.style.display = "none";
            }
        }

        $(document).ready(function () {
            var arvo = $("#ImageUrl").val();
            if (arvo == "") {
                $("#poistanappi").hide();
                $("#picture").hide();
            } else {
                $("#poistanappi").show();
                $("#picture").show();
            }
        });

        $("#poistanappi").click(function () {
            $("#picture").hide();
        })

        //Kun dokumentti on latautunut, modaaliin luodaan alas partialview ajax-koodilla. Ei onnistunut suoraan html-bodyyn razorilla luominen, koska sitten ajax-pyynnöt ei toimi oikein
        function paivitaOikeaKentta() {
            var falseFormInput = $("#fakeFormTypeName");
            var realForm = $("#TypeName");
            realForm.val(falseFormInput.val());
        }

        //Tuo tyypinlisäyskentän näkyviin---- TÄTÄ PITÄÄ  PÄIVITTÄÄ TYYLIKKÄÄMMÄKSI
        $("#lisaaUusiHiddenField").click(function () {
            partialViewGet("OtherSpendings", "_ModalCreateOthSpendingType", "divForPartialPseudo");
            document.getElementById("hiddenFieldAddType").style.display = "inline-block";
            document.getElementById("lisaaUusiHiddenField").style.display = "none";
        });

        $("#lisaaToinenTyyppi").click(function () {
            partialViewGet("OtherSpendings", "_ModalCreateOthSpendingType", "divForPartialPseudo");
            document.getElementById("hiddenFieldAddType").style.display = "inline-block";
            document.getElementById("lisaaUusiHiddenField").style.display = "none";
            document.getElementById("successfullyAddedType").style.display = "none";
        });

        $(".closeAddType").click(function () {
            document.getElementById("hiddenFieldAddType").style.display = "none";
            document.getElementById("lisaaUusiHiddenField").style.display = "block";
            document.getElementById("divForPartialPseudo").innerHTML = "";
            document.getElementById("successfullyAddedType").style.display = "none";
        });


        //luodaan uusi kulutyyppi
        $("#lisaaUusiType").click(async function () {
            partialViewSubmit("OtherSpendings", "_ModalCreateOthSpendingType", "divForPartialPseudo", "createTypeForm", "OtherSpendingTypeID");
        });

        //Ajax-pyynnöllä submitataan modaali ja luodaan se uudestaan pääsivulle
        function submitModal() {
            submitModalPost("OtherSpendings", "_ModalEdit", "editForm", "ModalotherSpendingEdit");
        };

        $("#Price").keypress(function () {
            isNumberKey(event, "Price");
        });
        $("#Price").keyup(function () {
            validateKeyUp(event, "Price");
        });

        //Removes Type 1000 from dropdown list, as 1000 is deleted value
        $(function () {
            $("#OtherSpendingTypeID option[value='1000']").remove();
        })

        $(document).ready(function () {
            dismissOrRedirectWithPartials('/otherspendings/index');
        });
    </script>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalotherSpendingEdit">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}