@model Kiinteistosovellus.Models.OtherSpendings

<div class="modal fade" id="ModalOtherSpendingCreate">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Luo uusi kulutus</h3>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Create", "OtherSpendings", FormMethod.Post, new { id = "createForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="form-group">
                                    Päivämäärä / Alkupäivämäärä @*Alkupvm*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @Type = "date", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Loppupäivämäärä @*Loppupvm*@
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @Type = "date", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Nimi @*Urakoitsija*@
                                    <div class="col-md-10">
                                        @Html.DropDownList("ContractorID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ContractorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Hinta yhteensä
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id = "hinta", onchange = "hintaChange(this)" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Kulutustyyppi
                                    <div class="col-md-10">
                                        @Html.DropDownList("OtherSpendingTypeID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OtherSpendingTypeID, "", new { @class = "text-danger" })
                                        <div style="text-align:right; padding-right:30px"><a class="card-link" role="button" id="lisaaUusiHiddenField">Lisää uusi kulutustyyppi</a></div>

                                    </div>
                                </div>

                                <div class="form-group" id="hiddenFieldAddType" style="display:none">
                                    Uusin tyypin nimi:
                                    <div class="col-md-10 input-group">
                                        <input type="text" maxlength="100" size="500" class="form-control" id="fakeFormTypeName" onkeyup="paivitaOikeaKentta()" />
                                        <span class="field-validation-error text-danger" id="fakeErrorTypeName"></span>
                                    </div>
                                    <div style="text-align: right; padding-right: 5px">
                                        <a class="card-link" role="button" id="lisaaUusiType">Lisää</a>
                                    </div>
                                </div>

                                @*Temporary solution for LoginID until Login system is done*@
                                @Html.TextBoxFor(model => model.LoginID, "LoginID", new { @class = "form-control", @Value = ViewBag.LoginID, @Hidden = "true" })

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    Kuvaus
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "15", @maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                 }



            </div>
            <div class="modal-footer">
                <div class="form-actions no-color">
                    <input type="button" onclick="submitModal()" value="Lisätä" class="btn btn-primary" />
                    @Html.ActionLink("Takaisin", "Index")
                </div>
            </div>
            <div id="divForPartialPseudo" style="display:none;">

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var indexUrl = '/OtherSpendings/Index'; //Indexin url-osoite, johon submitModal siirtyy onnistuneen lisäyksen jälkeen

    //Kun dokumentti on latautunut, modaaliin luodaan alas partialview ajax-koodilla. Ei onnistunut suoraan html-bodyyn razorilla luominen, koska sitten ajax-pyynnöt ei toimi oikein
    $(document).ready(function () {
        partialViewGet("OtherSpendings", "_ModalCreateOthSpendingType", "divForPartialPseudo");
    });

    //Pseudo-kenttä päivittää oikean formin kentän tällä toiminnolla
    function paivitaOikeaKentta() {
        var falseFormInput = $("#fakeFormTypeName");
        var realForm = $("#TypeName");
        realForm.val(falseFormInput.val());
    }

    //Tuo tyypinlisäyskentän näkyviin---- TÄTÄ PITÄÄ  PÄIVITTÄÄ TYYLIKKÄÄMMÄKSI
    $("#lisaaUusiHiddenField").click(function () {
        console.log("toimii");
        if (document.getElementById("hiddenFieldAddType").style.display == "none") {
            console.log("display none");
            document.getElementById("hiddenFieldAddType").style.display = "inline-block";
            document.getElementById("lisaaUusiHiddenField").style.display = "none";
        } else {
            console.log("display muu");
            document.getElementById("hiddenFieldAddType").style.display = "none";
            document.getElementById("lisaaUusiHiddenField").style.display = "block";
        }


    });

    //Ajax-pyynnöllä submitataan modaali ja luodaan se uudestaan pääsivulle
    function submitModal() {
        submitModalPost("OtherSpendings", "_ModalCreate", "createForm", "ModalOtherSpendingCreate");
    };

    //luodaan uusi kulutyyppi
    $("#lisaaUusiType").click(async function () {
        partialViewSubmit("OtherSpendings", "_ModalCreateOthSpendingType", "divForPartialPseudo", "createTypeForm", "OtherSpendingTypeID");
    });
     

</script>