@model Kiinteistosovellus.Models.Logins
@{
    ViewBag.Title = "_CreateModalLogins";
}



<div class="modal fade" id="ModalLoginsCreate">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0px">
                <h3 >Luo uusi käyttäjä</h3>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Create", "Logins", FormMethod.Post, new { id = "createLoginsForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, "Käyttäjänimi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @style = "float:left", @oninput = "jepajuuser()", @id = "use", @class = "form-control", @maxlength = "15" } })
                                <label id="userlab" style="color:red">&nbsp; &nbsp;Kirjoita käyttäjänimi!</label>
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="clear:both" , class="form-group">
                            @Html.LabelFor(model => model.UserPassword, "Salasana", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @style = "float:left", @oninput = "jepajupass()", @id = "pas", @class = "form-control", @maxlength = "15" } })
                                <label id="passlab" style="color:red">&nbsp; &nbsp;Kirjoita salasana!</label>
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        @*<div style="clear:both" class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" id="loginCreateButton" value="Tallenna" class="btn btn-primary" />
                                    @Html.ActionLink("Takaisin", "Index", "logins", new { @Class = "btn btn-secondary" })
                                </div>

                            </div>*@

                    </div>
                }



                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

                <br />
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button type="submit" id="LogModButton" class="btn btn-primary" form="createLoginsForm">Tallenna</button>
                        <button type="button" onclick="jepajuuser(); jepajupass(); tallenna()" id="nappi" class="btn btn-primary">Tallenna</button>
                        @Html.ActionLink("Takaisin", "Index", "logins")
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#LogModButton").hide();
        $("#LogModButton").prop('disabled', true);
        $("#userlab").hide();
        $("#passlab").hide();
    });

   
    function jepajuuser() {
        var usernameValue = $("#use").val();
        var passwordValue = $("#pas").val();
        if (usernameValue == null || usernameValue == "" || passwordValue == null || passwordValue == "") {
            $("#LogModButton").prop('disabled', true);


        } else {
            $("#LogModButton").prop('disabled', false);

        }
        if (usernameValue == "") {
            $("#userlab").show();
        } else {
            $("#userlab").hide();
        }

    }
    function jepajupass() {
        var usernameValue = $("#use").val();
        var passwordValue = $("#pas").val();
        if (usernameValue == null || usernameValue == "" || passwordValue == null || passwordValue == "") {
            $("#LogModButton").prop('disabled', true);


        } else {
            $("#LogModButton").prop('disabled', false);

        }
        if (passwordValue == "") {
            $("#passlab").show();
        } else {
            $("#passlab").hide();
        }
    }
    function tallenna() {
        var usernameValue = $("#use").val();
        var passwordValue = $("#pas").val();
        if (usernameValue != null && usernameValue != "" && passwordValue != null && passwordValue != "") {
            $("#LogModButton").click();
        }

    }

</script>


