@model Kiinteistosovellus.Models.Logins

@{
    ViewBag.Title = "Delete";
}

<div class="modal fade" id="ModalLoginsDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Poista</h3>
            </div>
            <div class="modal-body">
                <h5>Oletko varma, että haluat poistaa tämän käyttäjän?</h5>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Käyttäjätunnus
                        </dt>

                        <dd>

                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                        <dt>
                            Salasana
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserPassword)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-primary">Poista</button>
                    @Html.ActionLink("Takaisin", "Index", "logins")

                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
