@model Kiinteistosovellus.Models.MonthlySpendingTypes

<div class="modal fade" id="ModalMSEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Muokkaa kulutustyyppi</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editMSForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SpendingTypeID)

                        <div class="form-group">
                            Kulutustyyppi @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            Yksikkö @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        @Html.DropDownList("LoginID", null, htmlAttributes: new { @Hidden = "hidden", @class = "form-control" })

                        <div class="form-group">
                            <input type="button" id="submitModalMSEdit" style="display:none" value="Tallenna" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitEdit" class="btn btn-primary">Tallenna</button>
                @Html.ActionLink("Takaisin", "Index", "monthlyspendingtypes")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#submitEdit").click(function submitModal() {
        submitModalPost("MonthlySpendingTypes", "_EditModal", "editMSForm", "ModalMSEdit");
    });

</script>




