@model IEnumerable<Kiinteistosovellus.Models.MonthlySpendingTypes>

@{
    ViewBag.Title = "Kuukausittaiset kulutustyypit";
}

 
<br />
<h2>Kuukausittaiset kulutustyypit</h2>
<a class="card-link ikonka" title="Uusi Käyttäjä" id="CreateMS" role="button"><img src="/Icons/square-add.svg" height="45"></a>
<br />

<div id="ModalPlaceEdit"></div> @*//Tähän tulee modaalit*@
<div id="ModalPlaceDelete"></div>
<div id="ModalPlaceCreate"></div>
<div id="ModalPlaceChart"></div>

<table class="table">
    <tr>
        <th>
            Kulutustyyppi

        </th>
        <th>
            Yksikkö
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.SpendingTypeID != 1000)
        {
            bool exists = false;
            <tr>
                <td class="centeredTds">
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td class="centeredTds">
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td class="centeredTds">
                    <a class="card-link ikonka getMSTOrderId" title="Muokkaa Kulutustyyppi" data-orderid="@item.SpendingTypeID" role="button"><img src="/Icons/square-edit.svg" height="30"></a>
                    <a class="card-link ikonka getMSTId" title="Poista Kulutustyyppi" data-id="@item.SpendingTypeID" role="button"><img src="/Icons/square-delete.svg" height="30"></a>
                    @foreach (Kiinteistosovellus.Models.MonthlySpendings spendings in ViewBag.Spendings)
                    {
                        if (item.SpendingTypeID == spendings.SpendingTypeID)
                        {
                            exists = true;
                        }
                    }
                    @if (exists == true)
                    {
                        <a class="card-link ikonka chartMSTId" title="Näytä kaavio" data-chartid="@item.SpendingTypeID" role="button"><img src="/Icons/square-chart.svg" height="30"></a>
                        if (item.Unit != null)
                        {
                            <a class="card-link ikonka chartMSCId" title="Näytä yksikön kulutuskaavio" data-chartid2="@item.SpendingTypeID" role="button"><img src="/Icons/square-chart-yksikko.svg" height="30"></a>
                        }
                        else
                        {
                            <img src="/Icons/square-chart-yksikko.svg" height="30" class="noUnits" title="Tämä tyyppi ei käytä yksiköitä">
                        }
                    }
                    else
                    {
                        <img src="/Icons/square-chart.svg" height="30" class="noUnits" title="Tämä tyyppi ei ole vielä käytössä">
                        <img src="/Icons/square-chart-yksikko.svg" height="30" class="noUnits" title="Tämä tyyppi ei ole vielä käytössä">
                    }



                </td>
            </tr>
        }
    }
</table>
<script type="text/javascript">

    $(function () {
        $('#homeClicked').removeClass('active');
        $('#spendingsClicked').removeClass('active');
        $('#othersClicked').addClass('active');
    });

    $(document).ready(function () {
        $(".getMSTOrderId").click(function () {
            let MSEditId = $(this).data("orderid");

            var url = "/MonthlySpendingTypes/_EditModal/?id=" + MSEditId;

            var $detailDivEdit = $("#ModalPlaceEdit");
            $.get(url, function (data) {
                $detailDivEdit.replaceWith(data);
                $("#ModalMSEdit").modal("show");

            });

        });
    });

    $(document).ready(function () {
        $(".getMSTId").click(function () {
            let MSDeleteId = $(this).data("id");

            var url = "/MonthlySpendingTypes/_DeleteModal/?id=" + MSDeleteId;

            var $detailDivEdit = $("#ModalPlaceDelete");
            $.get(url, function (data) {
                $detailDivEdit.replaceWith(data);
                $("#ModalMSDelete").modal("show");

            });

        });
    });
    $(document).ready(function () {
        $("#CreateMS").click(function () {
            var url = "/MonthlySpendingTypes/_CreateModal";

            var $detailDivEdit = $("#ModalPlaceCreate");
            $.get(url, function (data) {
                $detailDivEdit.replaceWith(data);
                $("#ModalMSCreate").modal("show");

            });
        });
    });

    $(document).ready(function () {
        $(".chartMSTId").click(function () {
            let MSChartId = $(this).data("chartid");
            var url = "/MonthlySpendingTypes/ChartContainer/" + MSChartId;
            var $detailDivChart = $("#ModalPlaceChart");
            $.get(url, function (data) {
                $detailDivChart.replaceWith(data);
                $("#ModalMonthSpendTypeChart").modal("show");
            });
        });
    });

    $(document).ready(function () {
        $(".chartMSCId").click(function () {
            let MSChartId = $(this).data("chartid2");
            var url = "/MonthlySpendingTypes/ChartContainerUnits/" + MSChartId;
            var $detailDivChart = $("#ModalPlaceChart");
            $.get(url, function (data) {
                $detailDivChart.replaceWith(data);
                $("#ModalMonthSpendTypeChartUnits").modal("show");
            });
        });
    });
</script>