@model Kiinteistosovellus.Models.MonthlySpendings

@if (Session["UserName"] != null && Session["Role"].ToString() == "Admin")
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalMSDelete">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h3>Poistaa kulutus</h3>
                </div>

                <div class="modal-body">
                    <h5>Oletko varma, että haluat poistaa tämän?</h5>
                    <div>
                        <hr />
                        <div class="row">

                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>
                                        Aloituspvm
                                    </dt>

                                    <dd>
                                        @Html.ValueFor(model => model.DateBegin, "{0:dd.MM.yyyy}")
                                    </dd>

                                    <dt>
                                        Päättymispvm
                                    </dt>

                                    @{
                                        if (Model.DateEnd == null)
                                        {
                                            <dd>@Html.ValueFor(model => model.DateBegin, "{0:dd.MM.yyyy}")</dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.ValueFor(model => model.DateEnd, "{0:dd.MM.yyyy}")</dd>
                                        }
                                    }

                                    <dt>
                                        Kulutustyyppi
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.MonthlySpendingTypes.TypeName)
                                    </dd>

                                    <dt>
                                        Urakoitsija
                                    </dt>
                                    @{
                                        if (Model.ContractorID == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.DisplayFor(model => model.Contractors.Name)</dd>
                                        }
                                    }

                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">

                                    <dt>
                                        Yksiköiden määrä
                                    </dt>
                                    @{
                                        if (Model.AmountOfUnits == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.DisplayFor(model => model.AmountOfUnits)</dd>
                                        }
                                    }

                                    <dt>
                                        Yksikön hinta
                                    </dt>
                                    @{
                                        if (Model.PricePerUnit == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.DisplayFor(model => model.PricePerUnit)</dd>
                                        }
                                    }

                                    <dt>
                                        Siirtohinta
                                    </dt>

                                    @{
                                        if (Model.PricePerUnit == null)
                                        {
                                            <dd> - </dd>
                                        }
                                        else
                                        {
                                            <dd>@Html.DisplayFor(model => model.TransferPayment)</dd>
                                        }
                                    }

                                    <dt>
                                        Kokonaishinta
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FullPrice)
                                    </dd>

                                </dl>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-primary">Poista</button>
                        <a href="#" data-bs-dismiss="modal" onclick='destroyDiv("ModalMSDelete")'>Takaisin</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalMSDelete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h3>Oho!</h3>
                        <p class="lead">Näyttää siltä, ​​että et ole kirjautunut sisään!</p>
                        <a class="btn btn-primary" href="/Home/Index">Takaisin pääsivuun</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}