@model Kiinteistosovellus.Models.MonthlySpendings

<div class="modal fade" id="ModalMSDelete">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Poistaa kulutus</h3>
            </div>

            <div class="modal-body">
                <h5>Oletko varma, että haluat poistaa tämän?</h5>
                <div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>
                                    Aloituspäivämäärä
                                </dt>

                                <dd>
                                    @if (Model.DateBegin != null)
                                    {@Convert.ToDateTime(Model.DateBegin).ToString("dd/MM/yyyy")}
                                @*@Html.DisplayFor(model => model.DateBegin)*@
                                </dd>

                                <dt>
                                    Päättymispäivämäärä
                                </dt>

                                <dd>
                                    @if (Model.DateBegin != null)
                                    {@Convert.ToDateTime(Model.DateEnd).ToString("dd/MM/yyyy")}
                                @*@Html.DisplayFor(model => model.DateEnd)*@
                                </dd>

                                <dt>
                                    Kulutustyyppi
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MonthlySpendingTypes.TypeName)
                                </dd>

                                <dt>
                                    Yrityksen nimi
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Contractors.Name)
                                </dd>

                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">

                                <dt>
                                    Yksikkömäärä
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AmountOfUnits)
                                </dd>

                                <dt>
                                    Yksikköhinta
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PricePerUnit)
                                </dd>

                                <dt>
                                    Siirtohinta
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TransferPayment)
                                </dd>

                                <dt>
                                    Kokonaishinta
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FullPrice)
                                </dd>

                            </dl>

                        </div>

                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-primary">Poista</button>
                    @Html.ActionLink("Takaisin", "Index", "Monthlyspendings")
                }
            </div>
        </div>
    </div>
</div>








