@model IEnumerable<Kiinteistosovellus.Models.MonthlySpendings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractors.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logins.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySpendingTypes.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractors.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logins.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySpendingTypes.TypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MonthlySpendingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MonthlySpendingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MonthlySpendingID })
        </td>
    </tr>
}

</table>
