@model IEnumerable<Kiinteistosovellus.Models.MonthlySpendings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="orderEdit"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractors.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logins.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySpendingTypes.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.DateBegin != null)
            {@Convert.ToDateTime(item.DateBegin).ToString("dd/MM/yyyy")}
        @*@Html.DisplayFor(modelItem => item.DateBegin)*@
        </td>
        <td>
            @if (item.DateEnd != null)
            {@Convert.ToDateTime(item.DateEnd).ToString("dd/MM/yyyy")}
            @*@Html.DisplayFor(modelItem => item.DateEnd)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractors.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logins.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySpendingTypes.TypeName)
        </td>
        <td>
            <button class="getOrderId" data-orderid="@item.MonthlySpendingID">Edit</button>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MonthlySpendingID })*@ |
            @*@Html.ActionLink("Details", "Details", new { id=item.MonthlySpendingID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.MonthlySpendingID })*@
            <button class="getId" data-id="@item.MonthlySpendingID">Delete</button>
        </td>
    </tr>
}

</table>
<script type="text/javascript">
   
    $(document).ready(function () {
        $(".getOrderId").click(function () {
             let MSEditId = $(this).data("orderid");
            // alert("Klikkasit" + orderId);
            var url = "/MonthlySpendings/_EditModal/?id=" + MSEditId;

            var $detailDivEdit = $("#orderEdit");
            $.get(url, function (data) {
               $detailDivEdit.replaceWith(data);
                $("#ModalMSEdit").modal("show");

            });

        });
    });

    $(document).ready(function () {
        $(".getId").click(function () {
            let MSDeleteId = $(this).data("id");
            // alert("Klikkasit" + orderId);
            var url = "/MonthlySpendings/_DeleteModal/?id=" + MSDeleteId;

            var $detailDivEdit = $("#orderEdit");
            $.get(url, function (data) {
                $detailDivEdit.replaceWith(data);
                $("#ModalMSDelete").modal("show");

            });

        });
    });
</script>