@model Kiinteistosovellus.Models.Logins
@{
    ViewBag.Title = "LoginModal";
}
<div>
    @*The Modal*@
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" id="myModal">
        <div class="modal-dialog ">
            <div class="modal-content">

                @*Modal Header*@
                <div class="modal-header">
                    <h2>Kirjautuminen</h2>
                </div>

                @*Modal body*@
                <div class="modal-body">
                    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "loginForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.LoginID)

                            <div class="form-group">
                                Käyttäjätunnus @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                Salasana @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                                </div>
                            </div>@*<br id="newRow" style="display:none"/>*@
                            <label class="text-danger">
                                @Html.DisplayFor(model => model.LoginErrorMessage)
                            </label>
                            <div class="form-group">
                                <input type="button" id="submitModal" style="display:none" value="Tallenna" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                    @*Modal footer*@
                    <div class="modal-footer">
                        <button type="submit" id="submitCreate" class="btn btn-primary">Kirjaudu</button>
                        <a href="/Home/Index">Takaisin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#submitCreate").click(function () {
        $("#submitModal").click();
    });

    var indexUrl = '/Home/Index';
    $("#submitModal").click(function () {

        var form = this.form;
        var data = new FormData(form);
        var detailDivCreate = parent.document.getElementById("myModal");


        $.ajax({
            url: "/Home/Authorize",
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: "POST",
            data: data,
            success: function (result) {
                if (result == "") {
                    /*document.getElementById("newRow").style.display = "none";*/
                    window.location.href = indexUrl;
                } else {
                    $(detailDivCreate).html("");
                    $(detailDivCreate).replaceWith(result);
                    /*document.getElementById("newRow").style.display = "inline-block";*/
                    $("#myModal").modal("show");
                }

            }
        });

    });

</script>



